body{
    background-color: rgb(32, 31, 31);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
    
    margin: 10px;
    padding: 20px;
}

li{
    display: inline;
    
    padding-left: 5px;
    padding-right: 20px;
}

.navbar{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 92%;
    width: 100%;
}

.screenshare{
  margin-top: 4%;
  height: 486px;
  text-align: center;
  background:white;
}

