* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-height: 100vh;
  width: 90%;
  /* background: linear-gradient(0deg,black,#262626); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/Assets/head.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 80;
}

.header_con {
  min-height: 100vh;
  width: 90%;
  /* background: linear-gradient(0deg,black,#262626); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 80;
}

nav {
  display: flex;
  padding: 0% 1%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 4px;
  background: gray;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  color: white;
  font-weight: bolder;
  font-style: italic;
  font-size: 15mm;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

.text-box a {
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.text-box a::after {
  content: "";
  width: 0%;
  height: 4px;
  background: whitesmoke;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.text-box a:hover::after {
  width: 100%;
}

.hero-btn {
  display: inline-block;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  color: white;
  border: 1px solid white;
  background: black;
  transition: 1s;
  text-decoration: none;
}

nav .far {
  display: none;
}

nav .fas {
  position: relative;
  text-align: right;
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-weight: bolder;
    font-style: italic;
    font-size: 15mm;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: black;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  nav .far {
    display: block;
    color: white;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  nav .fas {
    position: relative;
    display: block;
    color: white;
    margin: -60px 3px;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

.fitur {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

.fitur-col {
  flex-basis: 31%;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.fitur p {
  font-size: 17px;
  font-style: italic;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fitur-col p {
  font-size: 15px;
  color: white;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

.fitur-col img {
  width: 100%;
  display: block;
  max-height: 50%;
}

p {
  color: white;
  font-weight: bold;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.fitur-col h3 {
  color: aqua;
  text-align: center;
  margin: 10px 0;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fitur-col:hover {
  box-shadow: 0 0 20px 0px gray;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.cont {
  margin: 100px auto;
  width: 75%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/Assets/faq.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cont h1 {
  color: whitesmoke;
  margin-bottom: 40px;
  padding: 0;
  font-size: 25px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cont a {
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
}

@media (max-width: 700px) {
  .cont h1 {
    font-size: 24px;
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.icons .fab {
  color: white;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.form-box {
  width: 95%;
  padding: 5% 0;
  margin: 2% auto;
  position: relative;
  border-radius: 10%;
  background: linear-gradient(0deg, black, #262626);
}

.form-box:before,
.form-box:after {
  content: "";
  border-radius: 10%;
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    #a87fdeff,
    #01fdcaff,
    #4e13d6ff,
    #39addfff,
    #6e01fcff,
    #a87fdeff,
    #01fdcaff,
    #4e13d6ff,
    #39addfff,
    #6e01fcff
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 12s linear infinite;
}

.form-box:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

h1 {
  color: white;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-bottom: 20%;
}

.input {
  margin: 15% auto;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 4px solid black;
}

.input input {
  width: 80%;
  color: white;
  font-weight: 600;
  background: transparent;
  outline: none;
  border: none;
}

::placeholder {
  color: rgb(173, 166, 166);
}

.opt p {
  color: white;
  text-align: center;
  margin-top: -5%;
  margin-bottom: -20px;
  font-weight: bold;
  font-size: 25px;
}

.login {
  text-align: center;
}

.login p {
  color: white;
}

.login a {
  color: #01fdcaff;
  text-decoration: none;
}

.login a:hover {
  color: #01fdcaff;
  text-decoration: underline;
}

.fas {
  margin-right: 10%;
  color: white;
}

.icon a {
  color: white;
  font-size: 50px;
  margin-bottom: 7%;
  margin-left: 35%;
  cursor: pointer;
}

.fab {
  margin-left: -18%;
}

.cekPass {
  position: absolute;
}

#show {
  display: none;
  color: dimgrey;
}

#hide {
  color: dimgrey;
}

.submit {
  width: 85%;
  padding: 10px;
  margin: 40px auto 20px;
  display: block;
  outline: none;
  background: transparent;
  border: 4px solid white;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
}

.submit:hover {
  color: black;
  border: 4px solid dimgrey;
  background: white;
  transition: 0.5s;
}

/* @media(min-width: 200px){
    .form-box {
        margin: 50% 0% 50% 1%;
        width:98%;
    }

    .icon {
        font-size: 150%;
        margin-left: 35%;
    }

    .opt {
        margin-top: 15%;
        margin-bottom: -15%;
        margin-left: 5%;
    }

    .login {
        font-size: 15px;
    }
}

@media(min-width: 300px){
    .form-box {
        margin: 50% 0% 50% 2.5%;
        width: 95%;
    }

    .icon {
        margin-left: 37%;
        font-size: 180%;
    }

    .opt {
        margin-left: 3%;
        margin-top: 15%;
        margin-bottom: -10%;
    }
}

@media(min-width: 700px){
    .form-box {
        margin: 50% 1% 50% 1%;
        width: auto;
    }

    .icon {
        font-size: 280%;
        margin-left: 41%;
    }

    .opt {
        font-size: 25px;
        margin-top: -10%;
        margin-bottom: 5%;
        margin-left: 5.5%;
        margin-right: 4%;
    }

    .login  {
        margin-left: 2.5%;
    }
}

@media(min-width: 1500px) {
    .form-box {
        width: 100%;
        padding: 5% 0;
        margin: 2% auto;
    }
    .icon {
        font-size: 270%;
        margin-top: -12%;
        margin-bottom: 7%;
        margin-left: 38%;
    }
    .opt {
        font-size: 20px;
        margin-left: 5.5%;
        margin-top: -5%;
    }
    .login  {
        margin-left: 2.5%;
    }
    
} */

.new {
  text-align: center;
}

.new a {
  color: white;
  padding-top: 5%;
  text-decoration: none;
}

.new a:hover {
  color: #01fdcaff;
  text-decoration: none;
}

.fPass {
  margin-top: -10%;
  margin-bottom: 15%;
  margin-left: 10%;
}

.fPass a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.fPass a:hover {
  color: #01fdcaff;
  text-decoration: none;
}

/* img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  object-fit: cover;
} */
.nav {
  position: fixed;
  margin-top: 50px;
  width: 80px;
  height: 270px;
  background-image: linear-gradient(315deg, #63133b 0%, #9e2898 74%);
  border-radius: 0px 5px 15px 0px;
}
.logo {
  margin-top: 10%;
  margin-left: 10%;
  width: 40px;
  height: 50px;
}
.classes {
  position: relative;
  top: 10px;
  left: 18px;
  border: 1px;
  width: 40px;
  height: 50px;
  margin-top: 20px;
}
.add {
  position: relative;
  top: 0px;
  left: 19px;
  border: 1px;
  width: 40px;
  height: 50px;
}
.profil {
  position: relative;
  top: 0px;
  left: 12px;
  border: 1px;
  width: 45px;
  height: 50px;
  margin-top: 10px;
}
.gaptext {
  padding: 0;
  margin: 0;
  line-height: 10px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.box {
  border: 1px #dd0606;
  width: 200px;
  height: 200px;
}
.button {
  color: white;
  font-weight: bolder;
  border: none;
  background: none;
}
.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
}
.form-popup {
  display: none;
  position: fixed;
  left: 90px;
  top: 54px;
  border: 3px solid #f1f1f1;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.modal-backdrop {
  z-index: -1;
}
/* .but {
    margin-top: 12%;
    left: 12px;
    border: 0;
    position:absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 0;
}   */

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: rgb(19, 19, 19);
  font-size: 18px;
}
.edit {
  width: 60px;
  height: 50px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
/* Edit Profil */
/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */

.EP {
  border-radius: 5px;
  background-color: #cacaca;
  padding: 20px;
}
/* close */
.close {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 40px;
  height: 40px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(46, 46, 46);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.bgc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/Assets/contact.jpg");
  /* height: 10%; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
