@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
  /* background: linear-gradient(315deg, #131313 0%, #414141 74%); */
}
.box-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0, 5);
}
.cardshadow:hover {
  box-shadow: 0 0 20px 0px white;
}
.cardshadow {
  transition: 0.5s;
}
.col-md-4 {
  box-sizing: border-box;
}
h1 {
  color: white;
}
.card-text {
  color: white;
}
.card-body {
  background-image: linear-gradient(315deg, #63133b 0%, #9e2898 74%);
}
/* .title {
  margin-bottom: 40%;
} */
.creatClass_header {
  text-align: center;
  position: absolute;
  margin-top: 35%;
  margin-left: 0%;
}
/* .judul {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
} */

* {
  box-sizing: border-box;
}
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  object-fit: cover;
}
.nav {
  position: fixed;
  margin-top: 50px;
  width: 80px;
  height: 270px;
  background-image: linear-gradient(315deg, #63133b 0%, #9e2898 74%);
  border-radius: 0px 5px 15px 0px;
}
.logo {
  margin-top: 10%;
  margin-left: 10%;
  width: 40px;
  height: 50px;
}
.classes {
  position: relative;
  top: 10px;
  left: 18px;
  border: 1px;
  width: 40px;
  height: 50px;
  margin-top: 20px;
}
.add {
  position: relative;
  top: 0px;
  left: 19px;
  border: 1px;
  width: 40px;
  height: 50px;
}
.profil {
  position: absolute;
  margin-top: 15px;
  margin-right: 10px;
  right: 0%;
  top: 0%;
}
.gaptext {
  padding: 0;
  margin: 0;
  line-height: 10px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.box {
  border: 1px #dd0606;
  width: 200px;
  height: 200px;
}
.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
}
.form-popup {
  display: none;
  position: fixed;
  top: 18px;
  right: 70px;
  border: 3px solid #ffffff;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.modal-backdrop {
  z-index: -1;
}
.but {
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  right: 0%;
  top: 0%;
  border: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  opacity: 0;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: rgb(19, 19, 19);
  font-size: 18px;
}
.edit {
  width: 60px;
  height: 50px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
/* Edit Profil */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.EP {
  border-radius: 5px;
  background-color: #cacaca;
  padding: 20px;
}
.icon a {
  font-size: 25px;
  margin-left: 5px;
}
/* close */
.close {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(46, 46, 46);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* upload  */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}
/* add/create class  */
.ac {
  position: absolute;
  left: 0%;
  top: 0%;
  margin-left: 20px;
  margin-top: 20px;
}
.icons .fab {
  color: rgb(255, 255, 255);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.drp {
  color: aliceblue;
  font-size: 16px;
}
.modal-backdrop {
  z-index: -1;
}
/* goose */
