<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Log In</title>
    <link rel="stylesheet" href="/CSSandJS/LogIn.css">
    <link rel="stylesheet" href="/CSSandJS/style.css">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>

    <section >
        <nav>
            <a href="/">
                <img style="width: 100px;height: 100px; margin-top: 10px;" src="/Assets/Logo.png">
            </a>
            <div class="nav-links" id="navLinks" >
                <i class="far fa-window-close" onclick="hideMenu()"></i>
                <ul style="top: 5%; right: 5%;position: absolute;">
                    <li><a href="signup"><button class="button" data-bs-toggle="modal">Sign Up</button></li></a>
                    <li><a href="login"><button class="button" data-bs-toggle="modal">Log In</button></li></a>
                    <li><a href="#bottom">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div> 
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>
    
    </section>  

    <div class="form-box" style="width: 40%;">
        <h1>Log In</h1>
        <form method="post" action="/login">
            <div class="input">
                <i class="fas fa-envelope"></i>
                <input class="inp" type="email" placeholder="Email" name="email" id="email" >           
            </div>
            <div class="input">
                <i class="fas fa-key"></i> 
                <input type="password" placeholder="Password" name="password" id="password">
                <% if (locals.error) { %>
                    <span class="text-danger pl-2" style="font-size: 2.2vh"><%= error %></span>
                <% } %>
            </div>
            <!-- <div class="icon">
                <i class="fab fa-github"></i>
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook-square"></i>
            </div> -->
            <button type="submit" class="submit">Login</button>
        </form>
    </div>

    <section class="footer">
        <h4>About Us</h4>
        <p id="bottom" style="font-weight: bold;">
            NetS is a new startup formed by several students from Tarumanagara University as a local platform for Tarumanagara University students.<br> 
            Which can also be used by the public.
        </p>
    
        <div class="icons">
            <i class="fab fa-discord"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <p>Thank You For Trusting Us <br>Keep Supporting Us<br>.</p>
    </section>
</body>

</html> 
